__pycache__/
lecture/
/homework/2.docker/go.PNG
/homework/2.docker/py.png
/homework/4.resources-and-persistence/2.Check Table for Exist.PNG
/homework/4.resources-and-persistence/1.Create Table.PNG
/homework/5.kubernetes-network/Redmine homepage.PNG
